/* Fonts - Roboto for backup and junction for main site font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


@font-face {
    font-family: 'junctionregular';
    src: url('Junction-regular-webfont.eot');
    src: url('Junction-regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('Junction-regular-webfont.woff2') format('woff2'),*/
         url('Junction-regular-webfont.woff') format('woff'),
         url('Junction-regular-webfont.ttf') format('truetype'),
         url('Junction-regular-webfont.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junctionlight';
    src: url('Junction-light-webfont.eot');
    src: url('Junction-light-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('Junction-light-webfont.woff2') format('woff2'),*/
         url('Junction-light-webfont.woff') format('woff'),
         url('Junction-light-webfont.ttf') format('truetype'),
         url('Junction-light-webfont.svg#junctionlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junctionbold';
    src: url('Junction-bold-webfont.eot');
    src: url('Junction-bold-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('Junction-bold-webfont.woff2') format('woff2'),*/
         url('Junction-bold-webfont.woff') format('woff'),
         url('Junction-bold-webfont.ttf') format('truetype'),
         url('Junction-bold-webfont.svg#junctionbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Modal Styling */

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
}

/* General Styling*/
::-webkit-scrollbar {
    display: none;
}

main.index {
    height: 100vh;
    min-height: 300px;
    background: url("../images/IMG_20171124_120136-EFFECTS.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

main.index.gallery {
    height: 100%;
    min-height: 100vh;
    background: url("../images/IMG_20171124_120136-EFFECTS.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

body {
    background-color: #585858;
    font-family: 'junctionregular';
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'junctionbold'
}

.light {
    font-family: 'junctionlight'
}

/* centering and scaling for h1 on homepage - edited from codepen */
.h1 {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4vmin;
    width: 100%;
    text-align: center;
    font-size: 10vmin;
    padding: 2vmin 0;
    text-shadow: 0.55vmin 0.55vmin rgba(0, 0, 0, 0.5);
}

h1.gallery {
    padding-top: 70px;
    font-size: 10vmin;
    text-shadow: 0.55vmin 0.55vmin rgba(0, 0, 0, 0.5);
}


/* Nav Styling*/
nav {
    background-color: rgba(0, 0, 0, 0.623);
    transition-delay: 2s;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

nav#p1 {
    background-color: transparent;
}

nav#p1:hover {
    background-color: rgba(0, 0, 0, 0.623);
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

nav#p1:active {
    background-color: rgba(0, 0, 0, 0.623);
}




li.nav-item {
    text-align: center;
}

li.nav-item a {
    color: #ffffff;
}


li.nav-item a i {
    display:block;
    color: #ffffff;
}



button.navbar-toggler.btn.btn-dark {
    border: white solid 2px;
}



.inline-block {
    display: inline-block;
}

/* Card Styling */
.card-img-top {
    border: solid white 0.0625rem;
}





/* Footer Styling */
footer {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fafafa;
    margin: 0;
}

.social-links {
    padding-top: 15px;
    padding-bottom: 1px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #030303;
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#footer-details {
    margin: 5px;
}

.social-links li {
    margin-bottom: 10px;
}

/* Gallery Styling */
.bg-dark-card {
    background-color: rgba(0, 0, 0, 0.623);
}

/* fullscreen carousel - edited from codepen and also viewed on BS3 tutorial online */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Media Queries */

@media(min-width: 768px) {
    #button {
        text-align: right;
    }
}

@media(max-width: 768px) {
    #button {
        margin-bottom: 10px;
    }
}

@media(max-width: 768px) {
    ul.list-inline.social-links.d-inline-flex {
        margin-bottom: 0;
    }
}
